* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  height: 100vh;
  display: grid;
  place-content: center;
}

.parent { 
  width: 400px;
  height: 400px;
  background-color: lightgoldenrodyellow;
  position: relative;

  /* position: relative; がついている場合は、自分の本来位置からの相対 */
  top: -100px;
}

.child {
  width:200px;
  height: 200px;
  background-color: lightcoral;
  position: absolute;
  
  /* position:relative; がついている親からの相対になる。 なければscreen */
  top: 10px;
  left: 10px;
}