* {
    margin: 0;
    padding: 0;
    /* border: dotted 1px peru; */
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #ccdeee, #f7f5f2);
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.txtb {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

h3 {
    margin: 10px;
}

.task {
    width: 100%;
    background: rgba(255,255,255,.2);
    padding: 18px;
    margin: 6px 0px;
    overflow: hidden;
}

.task i {
    float: right;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
}

.comp .task {
    background: rgba(0,0,0,.2);
    color: #fff;
}